<div class="hero bg-base-200 min-h-screen">
    <div class="hero-content flex-col lg:flex-row-reverse">
      <div class="text-center lg:text-left">
        <h1 class="text-5xl font-bold">Forgot password?</h1>
        <p class="py-6">
          Please enter your email, 
          then check your email for your password reset link.
        </p>
      </div>
      <div class="card bg-base-100 w-full max-w-sm shrink-0 shadow-2xl">
        <form class="card-body">
          <div class="form-control">
            <label class="label">
              <span class="label-text">Email</span>
            </label>
            <input type="email" placeholder="email" class="input input-bordered" required />
          </div>
          <div class="form-control mt-6">
            <a routerLink="Home" class="btn btn-primary"><button>Reset Password</button></a>
          </div>
        </form>
      </div>
    </div>
  </div>