<div class="hero bg-base-200 min-h-screen">
    <div class="hero-content flex-col lg:flex-row-reverse">
      <div class="text-center lg:text-left">
        <h1 class="text-5xl font-bold">Welcome new recruit</h1>
        <p class="py-6">
          Welcome to Workbench, 
          your one stop office management tool.
        </p>
      </div>
      <div class="card bg-base-100 w-full max-w-sm shrink-0 shadow-2xl">
        <form [formGroup] = "signupForm" (ngSubmit) = "signup()" class="card-body">
          <div class="form-control">
            <label class="label">
              <span class="label-text">Email</span>
            </label>
            <input type="email" placeholder="email" class="input input-bordered" formControlName = "email" required />
          </div>
          <div class="form-control">
            <label class="label">
              <span class="label-text">First Name</span>
            </label>
            <input type="firstname" placeholder="First Name" class="input input-bordered" formControlName = "name" required />
          </div>
          <div class="form-control">
            <label class="label">
              <span class="label-text">Last Name</span>
            </label>
            <input type="lastname" placeholder="Last Name" class="input input-bordered" formControlName = "surname" required />
          </div>
          <div class="form-control">
            <label class="label">
              <span class="label-text">Cellphone Number</span>
            </label>
            <input type="tel" placeholder="Phone Number" class="input input-bordered" formControlName = "Number" required />
          </div>
          <span class="label-text">Role level</span>
          <select class="select select-bordered w-full max-w-xs">
            <option disabled selected>As an Admin or Employee?</option>
            <option>Admin</option>
            <option>Employee</option>
          </select>
          <div class="form-control">
            <label class="label">
              <span class="label-text">Birthday</span>
            </label>
            <input type="date" placeholder="Select Birthday" class="input input-bordered" required />
          </div>
          <div class="form-control">
            <label class="label">
              <span class="label-text">Password</span>
            </label>
            <input type="password" placeholder="password" class="input input-bordered" formControlName = "password" required />
          </div>
          <div class="form-control">
            <label class="label">
                <span class="label-text">Password</span>
            </label>
            <input type="password" placeholder="Re-enter password" class="input input-bordered" required />
          </div>
          <div class="form-control mt-6">
            <button type="submit" class="btn btn-primary" routerLink="">Sign  Up</button>
          </div>
        </form>
      </div>
    </div>
  </div>